div.container{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center 
}

.guessWord{
    letter-spacing: 3px;
    margin-right: 4%;
    font-size: 50px;
}
.attempts{
    size: 25px;
    margin-left: 30px;
}
.helpDict{
    margin-left: 10px;
}